*{
  padding: 0%;
  margin: 0%;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;
}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}

.quiz {
  font-size: 32px;
  margin: 0 auto;
  width: 600px;
}

.quiz-indicator,
.quiz-questions,
.quiz-results{
  font-family: Arial;
  font-size: 32px;
  margin-bottom: 20px;
}

.quiz-questions-item__question,
.quiz-results-item__question{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}
.quiz-questions-item__answers
.quiz-results-item__answer{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}



.button-next{

}

.button-restart{
  display: none;
}

.quiz-results{
  display: none;
}

.questions--hidden,
.indicator--hidden,
.button-next--hidden{
  display: none;
}

.indicator--visible,
.button-resturt--visible{
  display: block;
}

.answer--invalid{
color: red;
}

.answer--valid{
color: green;
}

button.button-next,
button.button-restart{
  height: 50px;
  width: 150px;
  margin: 10px;
  background: rgb(6, 171, 221);
  font-size: 24px;
  font-family: Arial;
  border: solid 1px black;
  border-radius: 10px 100px / 120px;
  box-shadow: 2px 2px 1px;
}
